googlechrome
firefox
python3
7zip
chocolateygui
discord
git
github-desktop
obs-studio
putty
vscode
resonic.install
mpvio.install
k-litecodecpackfull
pviewer
spotify
microsoft-windows-terminal
nodejs
autoruns
powertoys
yarn
postman
ffmpeg
imagemagick.app
wsl2
sublimemerge
picotorrent
slack
figma
steam
icue
nzxt-cam
via
screentogif.install
obsidian